$red: #FF191B;

a{
  
  &:hover{
    text-decoration: none;
  }
}

body{
	background-color: #F4F5F3;
}

#hidden{
	opacity: 0;
	transition: opacity 1s;
}

.form-control{
	border-radius: 0px;
}

.btn{
	border-radius: 0px;
}

.star{
	color: whitesmoke;
	padding: 6px;
	font-size: 18px;
	background-color: #DFE917;
}

.completion-date{
	background-color: #40B25E;
	padding: 5px;
	margin: 0px;
}

.color-white{
  color: white;
}