.goal-card{
  background-color: #FFFFFF;
  padding: 0px 15px 15px;
  margin-top: 30px;
 
  .goal-card-header-row{
    margin-left: -30px;
    margin-right: -30px;
  }
  
  .goal-card-header{
    width: 100%;
    min-height: 40px;
    background-color: #449DD9;
    padding: 15px;
    
    a > .goal-card-title{
      margin: 0px;
      color: #FFFFFF;
      font-weight: 300;
      
      &:hover{
        color: whitesmoke;
        text-decoration: none;
      }
    }
    
    .goal-card-info{
      margin: 10px 0px 0px;
    }
  }
  
  
}